# Python
__pycache__/
*.pyc

# Environment variables
.env

# Database
*.db

# FAISS indexes
backend/indexes/

# Uploaded PDFs
frontend/uploads/

# Virtual environments
venv/
.venv/

# macOS
.DS_Store

# Local models
models/