# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Database
*.db
*.db-shm
*.db-wal

# FAISS indexes
backend/indexes/

# Uploaded PDFs
frontend/uploads/

# Virtual environments
venv/
.venv/

# macOS
.DS_Store

# Local AI models
models/

# IDE
.vscode/
.idea/

# Logs
*.log

# pytest
.pytest_cache/